@import '../../../consts/styles/colors';

.button {
  width: 100%;
  padding: 0.9em 2.5em;
  color: $orangeColor;
  background-color: $whiteColor;
  border: 1px solid $orangeColor;
  border-radius: 3px;
  transition: 0.2s;
  box-sizing: border-box;

  &:hover {
    background-color: $orangeColor;
    color: $whiteColor;
  }
}

.button_emphasize {
  color: $whiteColor;
  background-color: $orangeColor;

  &:hover {
    background-color: $darkOrangeColor;
    border-color: transparent;
  }
}

.button_small {
  padding: 0.6em 1.5em;
}
