$pinkColor: #bc1038;

.task-details {
  width: 100%;
}

.task-details__content {
  width: 650px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-row-gap: 20px;
}

.task-details__form-label {
  grid-column: 1;
}

.task-details__form-input {
  grid-column: 2;
}

.task-details__confidential-toggle {
  color: $pinkColor;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '+ ';
    font-weight: bold;
  }
}

.task-details__confidential-input {
  margin-top: 20px;
}
