@import '../../consts/styles/colors';

.header {
  width: 100%;
  padding: 0.9em 4em;
  background-color: $whiteColor;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dfe1d9;
  box-sizing: border-box;
}

.header__wrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.header__logo {
  grid-column: 1;
  font-size: 2em;
}

.header__login {
  padding: 0.5em 1em;
  grid-column: 5;
}

.header__registration {
  grid-column: 6;
}
