@import '../../consts/styles/colors';
@import '../../consts/styles/sizes';

$partContentPadding: 5em 0;

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-page {
  width: $largeWidth;
  display: flex;
  height: 100%;
}

.login-page__left {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: $lightPinkColor;
}

.login-page__login-form {
  width: 19em;
  padding: $partContentPadding;
  margin: 0 auto;
}

.login-page__right {
  width: 100%;
  flex-grow: 1;
  background-color: $whiteColor;
}